<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>NewMovie</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href="css/sticky-footer-navbar.css" rel="stylesheet"/>
    <link rel="icon" href="images/movie.ico"/>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
            background-color: Black;

        }
        ul.nav li a, ul.nav li a:visited{
            color: black;
        }

    </style>

</head>

<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">LOGO</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li class="active">
                    <a th:href="@{/home}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        Inicio
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" th:action="@{/home}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="Buscar película"/>
                </div>
                <button type="submit" class="btn btn-link">Buscar</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="false"></span>
                        <span sec:authentication="name">user</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-header">Acciones admin</li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/new_movie}">Añadir Pelicula</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/manage_users}">Gestionar Usuarios</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/manage_movies}">Gestionar Peliculas</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" role="separator" class="divider"></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-link" type="submit">Sign Out</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="page-header">
        <h1>New Movie</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" role="form" th:action="@{/insert_movie}" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="movie_name">* Nombre:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="movie_name" name="movie_name" placeholder="original name of the film in English" required=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="url_movie">* URL de la película:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="url_movie" name="url_movie" placeholder="Movie url" required=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="description">Sinopsis:</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" rows="3" id="description" name="description" placeholder="Sinopsis"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="year">Año:</label>
                    <div class="col-sm-8">
                        <input type="number" min="1800" max="2100" class="form-control" id="year" name="year"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="director">Director:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="director" name="director" placeholder="Director"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="actors">Reparto:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="actors" name="actors" placeholder="Actors"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="actors">Género:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="genre" name="genre" placeholder="Genre"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="url_cover_film">URL de la portada:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="url_cover_film" name="url_cover_film" placeholder="Movie cover"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="rating">Valoración:</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" max="10" class="form-control" id="rating" name="rating"/>
                    </div>
                </div>

                <p class="col-sm-offset-4 col-sm-8 text-danger"> * Campos obligatorios</p>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-primary">Crear Película</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>