<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Filmaholic</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href="css/sticky-footer-navbar.css" rel="stylesheet"/>
    <link rel="icon" href="images/movie.ico"/>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
            background-color: Black;

        }
        ul.nav li a, ul.nav li a:visited{
            color: black;
        }

    </style>

</head>

<body>



<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">LOGO</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li class="active">
                    <a th:href="@{/home}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        Inicio
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" th:action="@{/home}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="Buscar película"/>
                </div>
                <button type="submit" class="btn btn-link">Buscar</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="false"></span>
                        <span sec:authentication="name">user</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-header">Acciones admin</li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/new_movie}">Añadir Pelicula</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/manage_users}">Gestionar Usuarios</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/manage_movies}">Gestionar Peliculas</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" role="separator" class="divider"></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-link" type="submit">Sign Out</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page content -->
<div class="container">
    <div class="page-header">
        <h1>Borrar pelicula</h1>
    </div>

    <p>¿Quiere borrar la pelicula:  "<span th:text="${movie.getName()}">movie name</span>"?</p><br />
    <a th:href="@{/delete_movie(id=${movie.getId()})}">
        <button type="button" class="btn btn-primary btn-danger">Sí</button>
    </a>
    <a th:href="@{/manage_movies}">
        <button type="button" class="btn btn-secondary ">No</button>
    </a>
</div>

</body>
</html>